#name1 {color:rgb(0, 4, 255);}
#name1{background-color: burlywood;}
#name2{color: cadetblue;}
#name2 {background-color: chocolate;}
#name3{color: coral;}
#name3 {background-color: darkgray;}
h1 {text-align: right;}
